{%extends "base.html"%}
{% block title %}Sign up{% endblock %}
{%block content%}
<style>
    body {
  margin: 0;
  padding: 0;
  background: url(https://lh3.googleusercontent.com/6JGy0XfY28YLPtUGC9ZBECoXWU9Qcc1FH96kjIq5KBR56uFQ3clHIz0McSDu-1MuM9T-94OzE6NGm-noLi00yF2OoxYxHFFXuMd_iNiRkTBjvCk=s750);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

}

.box {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  padding: 2.5rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.625rem;
}

.box h2 {
  margin: 0 0 1.875rem;
  padding: 0;
  color: #fff;
  text-align: center;
}


.box .inputBox  {
  position: relative;
  background-color:transparent;
}

.box .inputBox input {
  width: 100%;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 0.065rem solid #fff;
  outline: none;
  background-color:transparent;
  background: transparent;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  background-color:transparent;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,
.box .inputBox input:not([value=""]) ~ label {
  top: -1.125rem;
  left: 0;
  color: #03a9f4;
  font-size: 0.75rem;
  background-color:transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;

}

.box input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background-color: #03a9f4;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
}

.box input[type="submit"]:hover {
  background-color: #1cb1f5;
}
/*.bg-image {*/
  /* The image used */
  /*background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8c/The_Durban_University_of_Technology_new_log.jpg");*/

  /* Add the blur effect */
  /*filter: blur(20px);
  -webkit-filter: blur(20px);
}*/
</style><div class="box" >
 
 <h2>Sign Up!</h2>
  <form method="POST">
    <div class="inputBox">
      <input
              type="text"
              autocomplete="off"
              id="firstName"
              name="firstName"
              required onkeyup="this.setAttribute('value', this.value);"
              value="">

      <label>First Name</label>
    </div>
    <div class="inputBox">
      <input
              type="text"
              autocomplete="off"
              name="lastName"
              id="lastName"
              required value=""
             onkeyup="this.setAttribute('value', this.value);">

      <label>Last Name</label>
    </div>
      <div class="inputBox">
      <input
              type="email"
              autocomplete="off"
              id="studentEmail"
              name="studentEmail"
              required value=""
             onkeyup="this.setAttribute('value', this.value);">

      <label>Student Email</label>
    </div>
    <div class="inputBox">
      <input
              type="password"
              autocomplete="off"
              name="password"
              id="password"
              required value=""
             onkeyup="this.setAttribute('value', this.value);">
      <label>Password</label>
    </div>
    <div class="inputBox">
      <input
              type="password"
              autocomplete="off"
              name="password2"
              id="password2"
              required value=""
             onkeyup="this.setAttribute('value', this.value);">

      <label>Confirm Password</label>
    </div>
     <div class="form-group">
        <label style="color:white">Select Your Department:</label>
    <select name="department" id="department">
        <option value=""></option>
        <option value="Accounting_informatics">Accounting and informatics</option>
        <option value="Engineering">Engineering and the built environment</option>
        <option value="Medical_science">Health Sciences</option>
        <option value="Management">Management sciences</option>
        <option value="Applied_sciences">Applied sciences</option>
        <option value="Hospitality">Hospitality</option>
    </select>
    </div>
    <input type="submit" name="Submit" value="Submit">
  </form>
</div>

{%endblock%}